/* overrides initial leaflet css rules */
.leaflet-container {
    background-color: rgb(189, 230, 243);
}

#flightSearchBar {
    background-image: url('/public/plane_icon.png');
    background-repeat: no-repeat;
    background-position: 12px 11px;
    font-size: 18px;
    padding: 15px 20px 12px 55px;
    width: 100%;
    border: 2px solid rgb(208, 208, 208);
}

p{
    margin: 3px;
    font-size: 15px;

}

#in{
    background-color: white;
    opacity: 0.95;
    padding: 10px;
}

#x{
    margin-left: 90%;
    font-size: 10px;
}